<!-- Section-->

<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="
        row
        gx-4 gx-lg-5
        row-cols-2 row-cols-md-3 row-cols-xl-4
        justify-content-center
      "
    >
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img
            class="card-img-top"
            src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/MYMC2?wid=572&hei=572&fmt=jpeg&qlt=95&.v=1601053171000"
            alt="..."
            width="100"
            height="100"
          />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Product 1</h5>
              <!-- Product price-->
              $40.00 - $80.00
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a
                class="btn btn-outline-dark mt-auto"
                href="C:\Users\NITIN MADAR\Desktop\it\try\product1.html"
                >Add to cart</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Sale badge-->
          <div
            class="badge bg-dark text-white position-absolute"
            style="top: 0.5rem; right: 0.5rem"
          >
            Sale
          </div>
          <!-- Product image-->
          <img
            class="card-img-top"
            src="https://m.media-amazon.com/images/I/61-BZvhNE8L._SL1500_.jpg"
            alt="..."
            width="100"
            height="100"
          />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Product 2</h5>
              <!-- Product reviews-->
              <div
                class="d-flex justify-content-center small text-warning mb-2"
              >
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
              </div>
              <!-- Product price-->
              <span class="text-muted text-decoration-line-through"
                >$20.00</span
              >
              $18.00
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a
                class="btn btn-outline-dark mt-auto"
                href="C:\Users\NITIN MADAR\Desktop\it\try\product2.html"
                >Add to cart</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Sale badge-->
          <div
            class="badge bg-dark text-white position-absolute"
            style="top: 0.5rem; right: 0.5rem"
          >
            Sale
          </div>
          <!-- Product image-->
          <img
            class="card-img-top"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkYPXSN5kj4KFJhATpezywheSplx9nbVC5Qg&usqp=CAU"
            alt="..."
            width="100"
            height="100"
          />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Product 3</h5>
              <!-- Product price-->
              <span class="text-muted text-decoration-line-through"
                >$50.00</span
              >
              $25.00
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a
                class="btn btn-outline-dark mt-auto"
                href="C:\Users\NITIN MADAR\Desktop\it\try\product3.html"
                >Add to cart</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img
            class="card-img-top"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRq_ciYUOPh5zMdbomcwEkW7SiV9fU4xwzTzQ&usqp=CAU"
            alt="..."
            height="100"
            width="100"
          />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Product 4</h5>
              <!-- Product reviews-->
              <div
                class="d-flex justify-content-center small text-warning mb-2"
              >
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
              </div>
              <!-- Product price-->
              $40.00
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a
                class="btn btn-outline-dark mt-auto"
                href="C:\Users\NITIN MADAR\Desktop\it\try\product4.html"
                >Add to cart</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Sale badge-->
          <div
            class="badge bg-dark text-white position-absolute"
            style="top: 0.5rem; right: 0.5rem"
          >
            <!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
